.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  background-color: grey;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.description {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.imageWrapper {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 30px;
}

.filterImage {
  height: 20vh;
}
